body {
	font-family: 'Arial', sans-serif;
	background: #fff;
	color: #333;
}

.sidenote-number:after, .sidenote:before {
	font-family: 'Arial', sans-serif;
}

span.date {
	float: right;
	color: #999;
	font-style: italic;
}

.portfolio-item {
	margin: 10px 0;
}
.portfolio-item h3 {
	margin-top: 3px;
}
.portfolio-item img {
	/*margin-right: 10px;*/
}

img {
	display: none;
}