---
layout: default
---
<article>
	<section>
		{{ content }}
	</section>
	
	<section class="portfolio">
		<h2>Research</h2>
		{% assign sorted_portfolio = site.portfolio | sort: 'year' | reverse %}
		{% for portfolio_item in sorted_portfolio %}
		<section class="portfolio-item">
			<span>{{ portfolio_item.authors }}</span>
			<h3 class="yo">{{ portfolio_item.title }}</h3>
			<div class="sidenote" for="yo">
				<figure>
					<img src="{{ portfolio_item.image }}" height="200px">
				</figure>
			</div> 
			<p>{{ portfolio_item.content }}</p>
			<div style="clear: both;"></div>
		</section>
		{% endfor %}
	</section>
</article>
